<!DOCTYPE html>
<html lang="en">

<head>
 {{>headerlinks}}
</head>

<body>
     {{!-- To use navbar template that is stored in partials --}}
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/404.png" alt="image" class="img-fluid" title="harsh" style="border-radius: 30px; height:22rem">
                        </figure>                   
                        <h3>Welcome to the weather forcaste app</h3>
                        <h1 style="font-size: 7rem;">{{errorMsg}}</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer part -->
   {{>footer}}
</body>
</html>